{% extends 'base.html.twig' %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        {{ form_start(form) }}
        <div>
            {{ form_label(form.title, 'Titre') }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div>
            {{ form_label(form.subtitle, 'Sous Titre') }}
            {{ form_errors(form.subtitle) }}
            {{ form_widget(form.subtitle, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div>
            {{ form_label(form.content, 'Contenu') }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, {'id': 'editor1', 'attr': {'class': 'form-group'}}) }}
        </div>
        <div>
            {{ form_label(form.category, 'Categorie') }}
            {{ form_errors(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div>
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}